<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Cadastro</title>
  </head>
  <body>
    <Header>
        <li >
            <ul><a href="/">Cadastrar </a></ul>
            <ul><a href="/listarUsuarios">Lista de Usuários </a></ul>
        </li>
    </Header>

    <main class="main">
        <h1>
            Cadastrar
        </h1>

        <form action="/cadastrar" method="post">
            <div class="row">
                <div class="container-nome">
                    <label for="nome">Nome</label>
                    <input name="nome" type="text">
                </div>
                <div class="container-email">
                    <label for="email">E-mail</label>
                    <input name="email" type="email">
                </div>
                <button autofocus>Enviar</button>
            </div>
        </form>

     

        <% if(erros){ %>
            <% erros.forEach(function(item) { %>
                <p><%= item.message %></p>
                
            <% }); %>

        <% } %>
   
        <% if(sucesso){ %>
            <p>Cadastro realizado com sucesso! </p>
        <% } %>
    </main>
  </body>
</html>
